name: Arduino Library Checks

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [develop,master]
  pull_request:
    branches: [develop,master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This defines a job for checking the Arduino library format specifications
  # see <https://github.com/marketplace/actions/arduino-arduino-lint-action>
  lint:
    name: check library format
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v2

      # Arduino - lint
      - name: Arduino-lint
        uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          verbose: false

  # These jobs are used to compile the examples fot the specific processor/board.
  # see <https://github.com/marketplace/actions/compile-arduino-sketches>
  compile-esp8266:
    name: compile uno examples
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v2

      # Runs Arduino Compiler
      # see https://github.com/arduino/compile-sketches
      #see https://github.com/arduino-libraries/Arduino_ConnectionHandler/blob/master/.github/workflows/compile-examples.yml      
      - name: Compile examples
        uses: arduino/compile-sketches@v1
        with:
          verbose: true
          platforms: |
            # Install ESP8266 platform via Boards Manager
            - name: esp8266:esp8266
              source-url: https://arduino.esp8266.com/stable/package_esp8266com_index.json
              version: 3.0.0
          fqbn: esp8266:esp8266:nodemcuv2
          sketch-paths: |
            - 'examples/intertechno'
            - 'examples/necIR'
            - 'examples/TempSensor'
            # - 'examples/scanner'

          # libraries: ${{ env.LIBRARIES }}
          # size-report-sketch: 'ConnectionHandlerDemo'
          # enable-size-deltas-report: 'true'
          # sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}

  compile-uno:
    name: compile uno examples
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v2

      # Compile Examples for UNO
      - name: Compile examples on uno
        uses: arduino/compile-sketches@v1
        with:
          verbose: true
          fqbn: arduino:avr:uno
          sketch-paths: |
            - 'examples/intertechno'

